@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: #f34970;
    --orange: #f7b99d;
    --black: #212121;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

